@using Memberships.Areas.Admin.Models
@model Memberships.Areas.Admin.Models.SubscriptionProductModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.SubscriptionTitle)</dt>
        <dd>@Html.DisplayFor(m => m.SubscriptionTitle)</dd>
        <dt>@Html.DisplayNameFor(m => m.ProductTitle)</dt>
        <dd>@Html.DisplayFor(m => m.ProductTitle)</dd>
    </dl>
</div>
<p>
    @Html.Partial("_EditButtonDetailsPartial",new EditButtonModel{SubscriptionId = Model.SubscriptionId, ProductId = Model.ProductId})
    @Html.Partial("_BackToListPartial")
</p>
